/* Palette:

light blue: #62D9EE;
rich blue: #3734B9;
orange: #F6AF49;

*/

body
{
  text-align: left;
  font-family: century gothic, arial;
  font-size: 9pt;

  margin: 5px 0px 5px 5px;

  color: #62D9EE;

  overflow: auto;

  background: none;
}

a       { text-decoration: underline; color:#F6AF49; }
a:hover { text-decoration: none; color:#F6AF49; }

img { border: none; }

hr
{
  border: 0;
  color: #3734B9;
  background-color: #3734B9;
  width: 80%;
  height: 1px;
  text-align: center;
}

.date
{
  font-size: 10pt;
  font-weight: bold;
  color: #F6AF49;
}
